#container {
  min-height: 100vh;
  display: grid;
  place-content: center;

  .drag-files {
    background: #f3f0ff;
    border: .1rem dashed #c1b2fa;
    border-radius: .8rem;
    min-width: 44rem;
    padding: 2.8rem 0 3.2rem;
    text-align: center;
    position: relative;

    input {
      all: unset;
      opacity: 0;
      inset: 0;
      position: absolute;
    }

    h3 {
      margin-top: 1.2rem;
      color: #7a5fec;
      font-size: 1.6rem;
    }

    p {
      font-size: 1.4rem;
      color: #746e82;
    }

    &.drag-over {
      background: #ebe6ff;
    }
  }

  .files {
    margin-top: 2rem;
    display: grid;
    gap: 1.2rem;

    .box {
      padding: .8rem;
      background: #fff;
      box-shadow: 0rem .4rem 1.6rem #eae2fd;
      border-radius: .8rem;
      display: flex;
      gap: 1.2rem;
      position: relative;

      --icon-bg: #eee;
      --icon-color: #aaa;
      --progress-color: black;
      --progress-text: #999;

      .icon {
        background: var(--icon-bg);
        border-radius: .4rem;
        padding: 1.6rem 1.2rem;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          width: 2.4rem;
          height: 2.4rem;
          fill: var(--icon-color);
        }
      }

      .info {
        flex: 1;

        .filename {
          font-size: 1.4rem;
          font-weight: 700;
          color: #575361;
        }

        .filesize {
          color: #857e95;
          font-weight: 500;
          font-size: 1.2rem;
        }
      }

      .bar {
        display: flex;
        align-items: center;
        gap: .8rem;
        line-height: 0;
        margin-top: .4rem;

        progress {
          flex: 1;
          -webkit-appearance: none;
          appearance: none;
          height: .8rem;
          border-radius: 999px;
          overflow: hidden;

          &::-webkit-progress-bar {
            background: #e3e3ed;
          }

          &::-webkit-progress-value {
            background: var(--progress-color);
          }
        }

        span {
          font-size: 1.2rem;
          font-weight: 500;
          color: var(--progress-text);
        }
      }

      .action {
        position: absolute;
        top: .8rem;
        right: .8rem;

        color: #794fed;
        cursor: pointer;
      }
    }
  }
}

#container {
  .files {
    .box {
      &.uploading {
        --icon-bg: #e9e3f8;
        --icon-color: #ac96e4;
        --progress-color: linear-gradient(90deg, rgba(58, 97, 237, 0.52) 0%, #7C3AED 100%);
        --progress-text: #9892a6;
      }

      &.done {
        --icon-bg: #daf2d9;
        --icon-color: #73b172;
        --progress-color: #73b172;
        --progress-text: #4e884d;
      }

      &.error {
        --icon-bg: #f2d9d9;
        --icon-color: #e36363;
        --progress-color: white;
        --progress-text: #e36363;
      }
    }
  }
}