* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Source Serif 4', serif;
  width: 100%;
  height: 100vh;
  background: #FEECE0;
  overflow: hidden;
}