{% extends "layout.html" %}

{% set bodyId = "page-ideas" %}

{% block title %}
    <title>Ideias - Casa Criativa</title>
{% endblock %}

{% block content %}
    <header>
        <a href="/"><img src="logo.png" alt="logo casa criativa"></a>
        <nav>
            <li><a href="/">Início</a></li>
            <li><a class="button" href="#" onclick="onOff()">Nova Ideia</a></li>
        </nav>
    </header>
    <section id="title">
        <p>em exibição</p>
        <h1>Ideias</h1>
    </section>
    <main>
        <section id="ideas">
            {% for idea in ideas %}
                <div class="idea">
                    <img src="{{idea.image}}" alt="{{idea.title}}">

                    <div class="content">
                        <h3>{{idea.title}}</h3>
                        <p>{{idea.category}}</p>
                        <div class="description">
                            {{idea.description}}
                        </div>
                        <div class="buttons">
                            <a href="{{idea.url}}" target="_blank">Ir para a Ideia</a>
                            <a href="/ideas/delete/{{idea.id}}" onclick="return confirm('Deseja realmente excluir?')">Excluir Ideia</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </section>
    </main>
    <footer>
        Com ❤️ <a href="https://rocketseat.com.br" target="_blank">Rocketseat</a>
    </footer>
{% endblock %}