:root {
  --bg-color: #d9cdf7;
  --text-color: #271a45;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Lato', sans-serif;
}

h1 {
  font-family: 'Crimson Pro', serif;
}

