.sendMessageFormWrapper {
  background: #1b1b1f;
  padding: 2.4rem;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.signOutButton {
  background: transparent;
  border: 0;
  color: #c4c4cc;
  position: absolute;
  left: 2.4rem;
  top: 2.4rem;
  cursor: pointer;

  transition: filter 0.2s ease-in-out;

  &:hover {
    filter: brightness(0.8);
  }
}

.userInformation {
  display: flex;
  flex-direction: column;
  align-items: center;

  .userImage {
    padding: 0.3rem;
    background: linear-gradient(100deg, #ff008e 0.48%, #ffcd1e 100%);
    border-radius: 50%;
    line-height: 0;

    img {
      width: 94px;
      height: 94px;
      border-radius: 50%;
      border: 0.6rem solid #121214;
    }
  }

  .userName {
    font: 2.4rem;
    line-height: 3rem;
    margin-top: 1.6rem;
  }

  .userGithub {
    display: flex;
    align-items: center;
    gap: .8rem;
    margin-top: .8rem;
    color: #c4c4cc;
  }
}

.sendMessageForm {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  margin-top: 4.8rem;

  background: #202024;

  label {
    padding: 1.8rem 2.4rem;
    font-size: 2rem;
    background: #29292e;
    font-weight: bold;
    text-align: left;
  }

  textarea {
    background: transparent;
    border: 0;
    padding: 2.4rem;
    resize: none;
    height: 16rem;
    color: #e1e1e6;
    font-size: 1.6rem;
    line-height: 2.4rem;

    &:focus {
      outline: 0;
    }

    &::placeholder {
      color: #8d8d99;
    }
  }

  button {
    align-self: flex-end;
    border: 0;
    background: #ff008e;
    margin: 2.4rem;
    padding: 0 3.2rem;
    height: 4rem;
    color: #fff;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    cursor: pointer;

    transition: filter 0.2s ease-in-out;

    &:hover {
      filter: brightness(0.9);
    }
  }
}