* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -mox-osx-font-smoothing: greyscale;
}

body {
  background: #0f0d13;
  font-family: 'Roboto', sans-serif;
}