#container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: max-content max-content max-content;
  grid-template-rows: max-content;
  column-gap: 3.2rem;
  row-gap: 6rem;
  padding: 11.2rem 12.4rem;
  place-content: center;

  .box {
    display: grid;
    padding: 3rem 4.8rem;
    border-radius: 1.6rem;
    background: #363447;
    box-shadow: 3px 4px 26px 0px rgba(0, 0, 0, 0.25);

    color: #FFF;
    line-height: 160%;

    &.nps {
      display: grid;
      gap: 3.2rem;
      width: 29.6rem;

      .middle {
        height: 19.7rem;
        display: grid;
        place-content: center;
        justify-items: center;
        gap: 1.6rem;
      }

      .bottom {
        gap: 1rem;
      }
    }

    .top {
      text-align: center;
      font-size: 2.4rem;
      font-weight: 600;
    }

    .middle {
      display: grid;
      place-content: center;
      position: relative;

      .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        h3 {
          font-size: 3.4rem;
        }
      }
    }

    .bottom {
      display: flex;
      gap: 2rem;
      justify-content: center;
      margin-top: auto;
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 160%;

      .item {
        display: flex;
        align-items: center;
        gap: 1rem;

        span {
          --bg-color: #4a4556;
        }

        .violet {
          --bg-color: linear-gradient(122deg, #CE9FFC 0%, #7367F0 100%);
        }

        .purple {
          --bg-color: linear-gradient(122deg, #DF9780 0%, #A66DE9 100%);
        }

        span:nth-child(1) {
          display: flex;
          align-items: center;
          gap: 0.4rem;
        }

        span:nth-child(1)::before {
          content: '';
          width: 1.5rem;
          height: 1.5rem;
          display: block;
          background: var(--bg-color);
          border-radius: 999px;
        }
      }
    }

    &:nth-child(4) {
      grid-column: 1/4;
    }

    &.weekly-sell {
      display: grid;
      gap: 3.2rem;

      .top {
        text-align: left;
      }

      .wrapper {
        display: flex;
        gap: 3.2rem;

        .left {
          display: grid;
          gap: 3.2rem;
          font-size: 2.4rem;
          font-weight: 500;

          span {
            font-size: 1.4rem;
            display: flex;
            align-items: center;
            gap: .4rem;

            &::before {
              content: '';
              width: 15px;
              height: 15px;
              display: block;
              clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
            }
          }

          .more-sales {
            display: grid;
            gap: .8rem;

            span::before {
              background: linear-gradient(180deg, #81FBB8 0%, #28C76F 100%);
            }
          }

          .less-sales {
            display: grid;
            gap: .8rem;

            span::before {
              background: linear-gradient(180deg, #EA5455 0%, #FEB692 100%);
              transform: rotate(180deg);
            }
          }
        }

        .left,
        .right {
          flex: 1;
        }

        .right {
          .bars {
            display: flex;
            gap: 5.9rem;
            align-items: flex-end;
            position: relative;

            &::before {
              content: '';
              display: block;
              height: .3rem;
              width: 100%;
              background: #4a4556;
              border-radius: 999px;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              z-index: 0;
            }

            .bar-wrapper {
              display: grid;
              grid-template-rows: 15.9rem 1.6rem;
              justify-items: center;
              gap: .5rem;
              z-index: 1;

              .bar {
                --height: 3rem;

                width: 1.5rem;
                height: var(--height);
                border-radius: 999px;
                background: linear-gradient(180deg, #90F7EC 0%, #32CCBC 100%);
                animation: up 1.4s;
                align-self: end;
              }
            }

          }
        }
      }
    }

    svg {
      --percentage: 0;
      width: 19.7rem;
      height: 19.7rem;
      transform: rotate(-90deg);

      circle {
        stroke-dasharray: 618;
        stroke-dashoffset: 618;
        stroke-width: 35;
        fill: none;

        &:nth-child(1) {
          stroke-dashoffset: 0;
        }

        &:nth-child(2) {
          stroke-dashoffset: calc(618 - (618 * var(--percentage))/100);
          stroke-linecap: round;

          animation: progress 1s backwards;
          animation-delay: 1s;
        }
      }
    }
  }
}

@keyframes progress {
  0% {
    stroke-dasharray: 618;
    stroke-dashoffset: 618;
  }
}

@keyframes up {
  0% {
    height: 0;
  }
}