* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  background: #111827;
}

body, input, button {
  font-size: 1.6rem;
  font-family: 'Source Sans 3', sans-serif;
}